#main {
	position: absolute;
	left: 300px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
	border-left: 1px solid black;
}

#nav {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
	bottom: 0px;
	overflow: hidden;
	border-right: 1px solid black;
	
	// Marker Comment
}

#about-view {
	background: #d5dc50;
	background-image:url(bikeTrains/images/logoWithRays_960x960.png);
    background-position: center center; 
    background-repeat: no-repeat;
}

#about-view-message {
	color: #1B5864;
	font-size: large;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#about-view-message td {
	text-align: center;
}

@media only screen and (orientation:portrait) {
	
	#main {
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
	}
	#nav {
		display:none;
	}
}