/activation-1.1.jar
/antlr-2.7.6.jar
/asm-3.1.jar
/asm-5.0.3.jar
/asm-commons-5.0.3.jar
/asm-tree-5.0.3.jar
/asm-util-5.0.3.jar
/c3p0-0.9.1.jar
/cglib-2.2.jar
/commons-collections-3.0.jar
/commons-io-2.0.1.jar
/commons-logging-api-1.0.4.jar
/dom4j-1.6.1.jar
/encoder-1.4.1.jar
/gwt-ajaxloader-1.1.0.jar
/gwt-dev-2.7.0.jar
/gwt-servlet-2.7.0.jar
/gwt-user-2.7.0.jar
/gwtchismes-0.9.7.jar
/gwtphonegap-2.0.0.0.jar
/hb.jar
/hibernate-c3p0-3.6.8.Final.jar
/hibernate-commons-annotations-3.2.0.Final.jar
/hibernate-core-3.6.8.Final.jar
/hibernate-entitymanager-3.6.8.Final.jar
/hibernate-jpa-2.0-api-1.0.1.Final.jar
/hibernate-validator-4.0.0.GA.jar
/jackson-core-asl-1.9.10.jar
/jackson-mapper-asl-1.9.10.jar
/javassist-3.12.0.GA.jar
/jaxb-api-2.1.jar
/jaxb-impl-2.1.3.jar
/jta-1.1.jar
/log4j-1.2.16.jar
/mgwt-2.0.0.jar
/mysql-connector-java-5.0.8.jar
/naming-factory-5.5.23.jar
/naming-resources-5.5.23.jar
/routeMgr-0.6.jar
/slf4j-api-1.6.1.jar
/slf4j-log4j12-1.6.1.jar
/stax-api-1.0-2.jar
/validation-api-1.0.0.GA-sources.jar
/validation-api-1.0.0.GA.jar
/xml-apis-1.0.b2.jar
